.article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrow {
    color: rgb(21, 141, 168);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.arrow:hover {
    color: rgb(13, 52, 61);
}

.fa-arrow-left {
    margin-right: 5px;
}

.fa-arrow-right {
    margin-left: 5px;
}

.nav-item a {
    color: rgb(21, 141, 168);
}

.nav-item a:hover {
    color: rgb(8, 64, 77);
}

.style-span {
    font-size: 2em; 
   
}

.style-span-small {
    font-size: 1.5em; 
    
}

.text-small {
    font-size: 12px;
}

.bg-head-table {
    background-color: #a4d1db;
    border-top: 1.8px solid #5b929e;
    color: white;
}

.form-table {
    width: 70%;
    margin: auto;
}

 tr .text-table-center {
    text-align: center;
}


.radio-toolbar-one input[type="radio"] {
    display:none; 
}

.radio-toolbar-one label {
    display:inline-block;
    background-color: white;
    font-family:Arial;
    font-size:16px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 1px solid green;
}

.radio-toolbar-one input[type="radio"]:checked + label { 
    background-color: white;
    border: 5px solid green;
}

.radio-toolbar-two input[type="radio"] {
    display:none; 
}

.radio-toolbar-two label {
    display:inline-block;
    background-color: white;
    font-family:Arial;
    font-size:16px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 1px solid yellow;
}

.radio-toolbar-two input[type="radio"]:checked + label { 
    background-color: white;
    border: 5px solid yellow;
}

.radio-toolbar-three input[type="radio"] {
    display:none; 
}

.radio-toolbar-three label {
    display:inline-block;
    background-color: white;
    font-family:Arial;
    font-size:16px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 1px solid red;
}

.radio-toolbar-three input[type="radio"]:checked + label { 
    background-color: white;
    border: 5px solid red;
}

.radio-toolbar-four input[type="radio"] {
    display:none; 
}


