.row {
    margin-right: 0;
    margin-left: 0;
}

.card {
    height: 100%;
}

.news {
    margin-top: 10px;
}

.article {
    text-align: center;
}

.card-link {
    color: rgb(21, 141, 168);
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
    color: rgb(13, 52, 61);
}

.date {
    text-align: right;
}

.date > p {
    font-size: 13px;
}

.style-span {
    font-size: 2em; 
   
}

.style-span-small {
    font-size: 1.5em; 
    
}