.article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrow {
    color: rgb(21, 141, 168);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.arrow:hover {
    color: rgb(13, 52, 61);
}

.fa-arrow-left {
    margin-right: 5px;
}

.fa-arrow-right {
    margin-left: 5px;
}

td, th {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

.cell-bottom {
    border-bottom: none;
}

.text-small {
    font-size: 14px;
}

.text-smaller {
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: right;
}

.text-smaller > span {
    background-color: rgb(21, 141, 168);;
    padding: 2px 3px 2px 3px;
    border-radius: 5px;
}

.table-bordered {
    cursor: pointer;
}

.style-span {
    font-size: 2em; 
   
}

.style-span-small {
    font-size: 1.5em; 
    
}