body, html {
    height: 100%;
}

.bg {
    background-image: url(../img/laptop.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 300px;
}

.name {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 25px;
    padding: 5px;
    box-sizing: border-box;
}

.entrance {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

p {
    margin-top: 5px;
}

a {
    color: rgb(21, 141, 168);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(13, 52, 61);
}
